.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.closeIcon {
  background: transparent;
  font-size: 25px !important;
  cursor: pointer;
}

.imageWrapper {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}